
<section class="container-fluid bg">
    <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-3">
        <form class="form-container">

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" required>
                </div>
                
                <div class="d-grid gap-2 py-3">
                    <button class="btn btn-primary" type="button">Recuperar</button>
                </div>
                <div>
                    <p id="forgotPass" class="form-text">Listo, 
                    <a href="login">Iniciar Sesion</a>
                    </p>
                </div>
                

        </form>
        </section>
    </section>
</section>
