
<section class="container-fluid bg">
  <section class="row justify-content-center">
    <section class="col-12 col-sm-6 col-md-3">
      <form class="form-container">

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">Nunca compartiremos tu correo con nadie más.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <a id="forgotPass" class="form-text" href="forgotpass">Olvide mi contraseña</a>
            <div class="d-grid gap-2 py-3">
              <button class="btn btn-primary" type="button">Entrar</button>
            </div>
            <div>
              <p id="forgotPass" class="form-text">No tengo una cuenta, 
                <a href="register">Registrarme</a>
              </p>
            </div>
            

      </form>
    </section>
  </section>
</section>
