    <div class="container">

    <div class="row justify-content-center py-3">
        <div class="card border-dark mb-3" style="width: 18rem;">
        <div class="card-header"></div>
        <img src="https://cdn.pixabay.com/photo/2014/09/22/14/49/breakfast-456351_960_720.jpg" class="card-img-top rounded-pill" alt="..." />
        <div class="card-body">
            <h5 class="card-title">
            Huevos 
            </h5>

            <p class="card-text">
                Huevos al gusto, servidos con tostadas o tortillas 
            </p>

            <p class="card-text">
                ¿como le gustarian sus huevos?
            </p>

                <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="revueltos" checked>
                <label class="form-check-label" for="revueltos">
                    Huevos Revueltos
                </label>
                </div>

                <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="fritos" >
                <label class="form-check-label" for="fritos">
                    Huevos Fritos
                </label>
                </div>

                <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Torta">
                <label class="form-check-label" for="Torta">
                    Torta de Huevo
                </label>
                </div>

            <a href="/inventarios" class="btn btn-dark" style="margin-top: 10px;">
                Agregar
            </a>
        </div>
        </div>
    </div>

    <div class="row justify-content-center py-3">
        <div class="card border-dark mb-3" style="width: 18rem;">
        <div class="card-header"></div>
        <img src="https://www.recetascostarica.com/base/stock/Recipe/166-image/166-image_web.jpg" class="card-img-top rounded-pill" alt="..." />
        <div class="card-body">
            <h5 class="card-title">
            Gallo Pinto 
            </h5>

            <p class="card-text">
                Delicioso Gallo Pinto costarricense acompañado de queso, huevos al gusto y platano maduro.
            </p>

            <p class="card-text">
                ¿como le gustarian sus huevos?
            </p>

                <div class="form-check">
                <input class="form-check-input" type="radio" name="huevo" value="option1" id="pintoRevueltos" checked>
                <label class="form-check-label" for="pintoRevueltos">
                    Huevos Revueltos
                </label>
                </div>

                <div class="form-check">
                <input class="form-check-input" type="radio" name="huevo" value="option2" id="pintoFritos" >
                <label class="form-check-label" for="pintoFritos">
                    Huevos Fritos
                </label>
                </div>

                <div class="form-check">
                <input class="form-check-input" type="radio" name="huevo" value="option3" id="pintoTorta">
                <label class="form-check-label" for="pintoTorta">
                    Torta de Huevo
                </label>
                </div>

            <a href="/inventarios" class="btn btn-dark" style="margin-top: 10px;">
                Agregar
            </a>
        </div>
        </div>
    </div>

<div class="row justify-content-center py-3">
        <div class="card border-dark mb-3" style="width: 18rem;">
        <div class="card-header"></div>
        <img src="https://cdn.pixabay.com/photo/2017/06/16/07/00/sandwich-2408026_960_720.jpg" class="card-img-top rounded-pill" alt="..." />
        <div class="card-body">
            <h5 class="card-title">
                Sandwich
            </h5>

            <p class="card-text">
                emparedado insignia de nuestro restaurante.
            </p>

            <p class="card-text">
                ¿que tipo de pan te gusraria?
            </p>

                <div class="form-check">
                <input class="form-check-input" type="radio" name="tipoPan" value="option1" id="pan1" checked>
                <label class="form-check-label" for="pan1">
                    Integral
                </label>
                </div>

                <div class="form-check">
                <input class="form-check-input" type="radio" name="tipoPan" value="option2" id="pan2" >
                <label class="form-check-label" for="pan2">
                    Blanco
                </label>
                </div>

                <div class="form-check">
                <input class="form-check-input" type="radio" name="tipoPan" value="option3" id="pan3">
                <label class="form-check-label" for="pan3">
                    Frances
                </label>
                </div>
            
            <p class="card-text" style="margin-top: 10px;">
                ¿que tipo Sandwich?
            </p>

                <div class="form-check">
                <input class="form-check-input" type="radio" name="sandwich" value="option1" id="sandwich1" checked>
                <label class="form-check-label" for="sandwich1">
                    Jamon y queso
                </label>
                </div>

                <div class="form-check">
                <input class="form-check-input" type="radio" name="sandwich" value="option2" id="sandwich2" >
                <label class="form-check-label" for="sandwich2">
                    Pollo
                </label>
                </div>

                <div class="form-check">
                <input class="form-check-input" type="radio" name="sandwich" value="option3" id="sandwich3">
                <label class="form-check-label" for="sandwich3">
                    Carne
                </label>
                </div>

            <a href="/inventarios" class="btn btn-dark" style="margin-top: 10px;">
                Agregar
            </a>
        </div>
        </div>
    </div>

    </div>