    <div class="container">

    <div class="row justify-content-center py-3">
        <div class="card border-dark mb-3" style="width: 18rem;">
        <div class="card-header"></div>
        <img src="https://cdn.pixabay.com/photo/2014/09/22/14/49/breakfast-456351_960_720.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">
            Desayunos
            </h5>

            <p class="card-text">
            Especiales para iniciar el dia 
            </p>
            <a href="/views/breakfast" class="btn btn-dark">
            Ver Desayunos
            </a>
        </div>
        </div>
    </div>

    <div class="row justify-content-center py-3">
        <div class="card border-dark mb-3" style="width: 18rem;">
        <div class="card-header"></div>
        <img src="https://cdn.pixabay.com/photo/2017/02/25/15/21/pork-barbecue-2098004_960_720.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">
                Almuerzos 
            </h5>

            <p class="card-text">
                Balanceados y al alcance de tu bolsillo 
            </p>
            <a href="/views/lunch" class="btn btn-dark">
            Ver Almuerzos
            </a>
        </div>
        </div>
    </div>

    <div class="row justify-content-center py-3">
        <div class="card border-dark mb-3" style="width: 18rem;">
        <div class="card-header"></div>
        <img src="https://cdn.pixabay.com/photo/2016/11/23/13/45/celebration-1852926_960_720.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">
            Cenas
            </h5>

            <p class="card-text">
                Nuestras deliciosas cenas para momentos especiales.
            </p>
            <a href="/views/diner" class="btn btn-dark">
            Ver Cenas
            </a>
        </div>
        </div>
    </div>

    <div class="row justify-content-center py-3">
        <div class="card border-dark mb-3" style="width: 18rem;">
        <div class="card-header"></div>
        <img src="https://cdn.pixabay.com/photo/2016/10/22/20/34/wines-1761613_960_720.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">
            Bebidas
            </h5>

            <p class="card-text">
                Bebidas frias y calientes para acompañar tu comida.
            </p>
            <a href="/views/drinks" class="btn btn-dark">
            Ver Bebidas
            </a>
        </div>
        </div>
    </div>

    </div>